.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  &_mobile {
    display: none;
  }

  &__item {
    box-shadow: 0 8px 15px -9px rgba(0,0,0,0.5);
  }

  &__arrow {
    @include fonts-style ("Montserrat", bold, 16px, normal, 36px, #303f9f);
    position: absolute;
    bottom: -80px;
    right: 0;
    display: flex;
    align-items: center;
  }

  &__arrow-text {
    margin-right: 10px;
  }

  &__arrow-img {
    border-radius: 50%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    background: white url("../../../../images/main/news/arrow_forward.svg") no-repeat center;
    background-size: 25px;
    cursor: pointer;
    transition: transform 1s;

    &:hover {
      transform: translateX(15px);
    }
  }

  &__slot {
    display: grid;

    &_three {
      grid-template-columns: repeat(3, 1fr);
    }

    &_two {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (max-width:830px) {
  .news {

    &_desktop {
      display: none;
    }

    &_mobile {
      display: grid;
    }
  }
}
