.subscribe {

  &__content {
    margin-bottom: 15px;
  }

  &__input-name {
    @include fonts-style ("OpenSans", normal, 16px, normal, auto, black);
  }

  &__input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
    padding: 0 15px;
    @include fonts-style ("OpenSans", normal, 16px, normal, 36px, black);
    opacity: 0.3;
  }

  &__btn {
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    @include fonts-style ("Montserrat", normal, 24px, normal, 36px, white);
    border: none;
    border-radius: 5px;
    background: #3f51b5;
    cursor: pointer;
  }
}
