@import "./img-line/img-line";
@import "./dropdown/dropdown";
@import "./gallery/gallery";
@import "./twitter/twitter";
@import "./news-form/news-form";
@import "./basement/basement";

.footer {
  background: #212121;
  padding-bottom: 80px;

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: $max-width;
    margin: 0 auto;
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4 - 25px);
  }

  &__title {
    @include fonts-style ("Montserrat", bold, 18px, normal, 100%, white);
    text-transform: uppercase;
    margin: 50px 0 30px;

    &_minor {
      margin: 20px 0;
    }
  }
}
